* {
  box-sizing: border-box;
}

body{
  -webkit-font-smoothing: antialiased;
  font-family: Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}

.bg-dark {
  background-color: rgb(20, 20, 20) !important;
}

.navbar .navbar-brand img {
  width: 6em;/* 100px; */
}

.navbar .navbar-nav img {
  width: 2em;
}

main {
  min-height: 100vh;
  overflow-x: hidden;
}

.card-row img {
  width: 100%;
  position: relative;
}
.card {
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.2);
  z-index: 3;
}


.card-prew{

  mask-image: linear-gradient(to right, rgba(20,20,20,0.3)0%, rgba(20,20,20,0.1)35%,rgba(20,20,20,0)75%,rgba(20,20,20,0)100%);
}
/* .card-prew img{
  position: absolute;
  right: -20%;
} */
.card-prew-rev{

  mask-image: linear-gradient(to left, rgba(20,20,20,0.3)0%, rgba(20,20,20,0.1)35%,rgba(20,20,20,0)75%,rgba(20,20,20,0)100%);
}