* {
  box-sizing: border-box;
}

.bg-dark {
  background-color: rgb(20, 20, 20) !important;
}

.navbar .navbar-brand img {
  width: 100px;
}

.navbar .navbar-nav img {
  width: 50px;
}

main {
  min-height: 100vh;
  overflow-x: hidden;
}

.card-row img {
  width: 100%;
  position: relative;
}
.card {
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.2);
  z-index: 3;
}

.card-prew{

  mask-image: linear-gradient(to right, rgba(20,20,20,0.8),rgba(20,20,20,0.1));
}
.card-prew-rev{

  mask-image: linear-gradient(to right,rgba(20,20,20,0.1),rgba(20,20,20,0.8));
}